body {
  margin: 0;
  padding: 0;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group Label {
  margin: 0 10px;
}

.btn-login {
  margin-top: 20px;
}
